#!/bin/sh


[Unit]
Description=Service Script for Spire Web
After=network.target

[Service]
Type=forking

RemainAfterExit=yes
ExecStart=/etc/systemd/system/spire_web start
ExecStop=/etc/systemd/system/spire_web stop
TimeoutSec=300
SuccessExitStatus=143



[Install]
WantedBy=multi-user.target

